/* reset css  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  color: #687083;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00124e;
  line-height: 1.2;
}
.font_40 {
  font-size: 40px;
}
p {
  color: #687083;
  font-weight: 400;
  font-size: 16px;
}
.primary_color {
  color: #00124e;
}
.secondary_color {
  color: #fd4949;
}
.d_block {
  display: block;
}
.container {
  max-width: 1440px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-lg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.middle_align {
  align-items: center;
}
.img_full {
  max-width: 100%;
  height: auto;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-4,
.col-2,
.col-6,
.col-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
a {
  text-decoration: none;
}
.primary_btn {
  background: #fd4949;
  padding: 18.5px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
}
.text_white {
  color: #fff;
}
.theme_title h3 {
  font-size: 30px;
  font-weight: 700;
  color: #00124e;
  margin-bottom: 30px;
}

.section_padding {
  padding: 80px 0;
}
.text-center {
  text-align: center;
}
.font_18 {
  font-size: 18px;
  line-height: 1.6;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_30 {
  margin-bottom: 30px;
}
.pl_40px {
  padding-left: 40px;
}
.max_800 {
  max-width: 830px;
}
.d-flex {
  display: flex;
}
.gap_5 {
  grid-gap: 5px;
}
.gap_10 {
  grid-gap: 10px;
}
.gap_20 {
  grid-gap: 20px;
}
.see_more_btn {
  font-size: 16px;
  color: #fd4949;
  text-transform: capitalize;
  display: inline-flex;
  grid-gap: 10px;
  align-items: center;
}
.see_more_btn i {
  font-size: 15px;
}
.text-right {
  text-align: right;
}
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xl-6 {
  padding-right: 15px;
  padding-left: 15px;
}
.gray_bg {
  background: #f7f7f7;
}
/* -------------------------------------------------------------------------- */
/*                                 HEADER CSS                                 */
/* -------------------------------------------------------------------------- */
.header_text {
  font-size: 25px;
  padding: 20px 0;
  font-weight: 700;
}

/* -------------------------------------------------------------------------- */
/*                                 BANNER CSS                                 */
/* -------------------------------------------------------------------------- */
.banner_text {
  max-width: 500px;
}
.banner_text h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
.banner_text p {
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0 40px 0;
}
.man_img {
  max-width: 400px;
  margin: auto;
}
.man_img img {
  transform: scale(1);
  transition: 0.5s;
}
.banner_wrapper:hover img {
  transform: scale(0.9);
}
.theme_btn {
  background: #fd4949;
  border-radius: 30px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  padding: 16px 30px;
  border: 1px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
}
/* -------------------------------------------------------------------------- */
/*                                PRODUCT WIZED                               */
/* -------------------------------------------------------------------------- */
.grid_boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.product_wized {
  background-color: #fff;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.04);
  padding: 20px;
  border-radius: 10px;
}
.product_wized .thumb {
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
}
.product_wized .thumb img {
  width: 100%;
}
.product_wized h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}
.product_wized h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 10px 0;
}
.product_wized p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.rating_box {
}
.rating_box span {
  font-size: 16px;
  font-weight: 500;
}
.starts i {
  color: #ffc107;
  font-size: 15px;
}

/* FOOTER CSS  */
footer {
  background: #00124e;
  padding: 80px 0;
}
.footer_text {
}
.footer_text h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.footer_text p {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin: 10px 0;
}
.social_links {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}
.social_links a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
}

/* -------------------------------------------------------------------------- */
/*                                    BLOG                                    */
/* -------------------------------------------------------------------------- */

.single_blog .thumb {
  overflow: hidden;
  display: block;
}

.single_blog .thumb img {
  width: 100%;
  transition: 0.3s;
  transform: scale(1);
}

.single_blog .blog_content span {
  font-size: 14px;
  font-weight: 400;
  color: #676e8b;
  display: block;
  margin: 27px 0 5px 0;
}

.single_blog .blog_content h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.45;
  transition: 0.3s;
}

.single_blog .blog_content h4:hover {
  color: #fd4949;
}
.single_blog:hover .thumb img {
  transform: scale(1.1);
}

/* -------------------------------------------------------------------------- */
/*                               RESPONSIVE CSS                               */
/* -------------------------------------------------------------------------- */

/* MOBILE  */
@media (min-width: 320px) and (max-width: 767.98px) {
  .grid_boxes {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner_text h3 {
    font-size: 30px;
  }
  .section_padding {
    padding: 40px 0;
  }
  .header_text {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .grid_boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
